<!-- Content Heading -->

<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<!-- Message Block -->

<!-- Flash Message Section -->
<%- messages() %>

<!-- Inventory Items Display -->

<%- flex %>
<% if (locals.accountData) { %>
    <% if (accountData.account_type=="Client" ) { %>
        <form class="management-container" action="/inv/favorites/add" method="POST">
            <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">
            <input type="hidden" name="inv_id" value="<%= invId %>">
            <button class="management-link" type="submit">Add to favorites</button>
        </form>
    <% } %>
<% } %>



